[jira]

#username for jira user
user=iviztestsvc

#passowrd for jira user
pass=HAHAHA

#URL to jira instance rpc calls (http://<domain>/rpc/xmlrpc)
url=http://usjira201.sonosite.com:8080

# the command that is used to ssh into the gerrit sshd
gerritcmd=ssh -p 29418 iviztestsvc@awalla3.na.ff-americas.com gerrit

# If you create a custom field for "Gerrit status", put the numeric ID
# here.  The ID is found from the URL when editing that custom field.
# if set, it will set it to "pending" when a patch is uploaded, and "merged"
# when it is merged 
custom_field=

# optional comma separated list of jira projects
projects=NEO,CRNEO

# Set to 'true' if you'd like Jirret to search for Gerrit tracking IDs rather
# than in the subject line for your issue IDs
use_trackingid=false

# Set to false to disable {quote} markers surrounding comments
enable_quotes=true
